<!-- Enter name of the application: <input type="text" [(ngModel)]="title" />
<p>My Application is {{ title }}</p>
<p>Number of messages = {{ messages.length}}</p> -->

<!-- <div>
  <button [disabled]="getDisableNewMessage()" (click)="onSendMessage()">
    Send Message</button>
</div> -->

<!-- <p>First message is from {{messages[0].sender}}: {{messages[0].message}}</p> -->
<div>
  <ul>
    <li *ngFor="let currentAthlete of athleteArray">
      <span *ngIf="currentAthlete.isActive">* {{currentAthlete.name}} ({{currentAthlete.sport}}) is active</span>
      <span *ngIf="!currentAthlete.isActive">* {{currentAthlete.name}} ({{currentAthlete.sport}}) is not active</span>
    </li>
  </ul>
</div>